 
 h1{
   font-size: 2.5rem;
 }

 li button{
   font-size: 2rem;
 }
   
 h3{
   font-size: 1.5rem;
 }
   
   button{
   border: none;
   border-radius: 1rem;
   width: 130px;
   height: 40px;
   background-color: rgba(15, 149, 190, 0.795);
   transition: 0.5s ease-in-out;
   padding: 1.5rem,4.5rem;
   cursor: pointer;
   color: antiquewhite;
 }
 
 button:hover{
   background-color: #131c27;
 }
 
 .main-head{
    background-color: #131c27;
    color: antiquewhite;
    height: 100px;

 }

 .main-head h1 {
   flex: 1 1 40rem;
  padding-right: 2rem;
  font-family: 'Limelight', 'cursive';

 }

.main-head-items{
      display: flex;
      align-items: center;
      width: 90%;
      margin: auto;
      padding: 2rem;
      min-height: 10vh;
} 

.main-head-items-list{
   display: flex;
  justify-content: space-between;
  flex: 1 1 40rem;
  align-items: center;
  list-style: none;
}


.main-head-items a{
   color: antiquewhite;
   list-style: none;
   display: flex;
   text-decoration: none;
   font-size: 25px;
}

.main-head-items a:hover{
   background-color: aliceblue;
   color: #131c27;
   border-radius: 2rem;
}

.big-image{
   background-image: linear-gradient(rgba(0, 0, 0, 0.781), transparent),
    url('https://world-touring.vercel.app/images/section1.jpg');
    min-height: 90vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: antiquewhite;
}

.home h1{
   padding-bottom: 3px;
}

 /*location part*/
 .location{
   background-image: url(https://world-touring.vercel.app/images/new-york-page.png),linear-gradient(rgb(0,0,0), transparent);
   height: 100vh;
   background-position: center;
   background-size: cover; 
   position: relative; 
   color: rgb(18, 17, 16);
   display: flex;
   align-items: center;
  
 }

 .location-text{
   display: block;
   padding-left: 80px;
 }

 .location-text h1{
   text-decoration: underline;
 }